*{
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body{
    background: url("img/bg.jpeg") no-repeat center center fixed;
	/* Estudiar de una puta vez estas lineas de codido chinos*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Estudiar de una puta vez estas lineas de codido chinos*/
header{
	width: 100%;
}

.navegacion{
	width: 400px;
	margin: 30px auto;
	background: #fff;
    border-radius: 20px;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}



.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

img.icono{
    width: 150px;
    height: 130px;
    position: absolute;
    left: 900px;
    border: 0ch;
    margin: 0%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
